.invisible {
  visibility: hidden !important;
  text-decoration: none !important;
  font-size: 0 !important;
  color: transparent !important;
}

.para {
  display: flex;
  flex-direction: column;
}

.prose {
  display: inline-block;
  line-height: 2;
}
